/*! Anode theme for Brackets
* by Artem Solovev!
**/



/* COLORS */

/* EDITOR styling */
@background: #292929;
@background-selected: rgba(71, 72, 75, .7);
@background-activeline: #1A1A1A;
@gutters: #2D2A25;
@comment: #B8C4C1;
@comment-active: #ffffff;
@keyword: #F92672;
@definition: #D4E157;
@number: #00FF75;
@tag: #29B26A;
@cursor: #ffffff;
@brackets-active: rgba(255, 255, 255, .2);
@error: #A72726;



/* STYLES */
// Code editor
.CodeMirror, .CodeMirror-scroll {
    background-color: @background;
    color: #fff;
}

// Selected text
.CodeMirror-selected {
    background: @background-selected;
}

// Line numbers
.CodeMirror-gutters {
    background-color: @gutters;
    border-right: 1px solid rgba(71, 72, 75, .7);
}
.CodeMirror .CodeMirror-linenumber {
    color: #C0D8D1;
}

// Active line
.CodeMirror-activeline-background,
.CodeMirror-activeline .CodeMirror-gutter-elt {
    background: @background-activeline;
}

// Matching bracket
.CodeMirror-matchingbracket {
    background: 0 0!important;
    color: #76FF03!important;
    text-shadow: 0 0 10px #76FF03;
    font-weight: 700;
}

// No matching bracket
.CodeMirror-nonmatchingbracket {
    background: #F92672!important;
    color: #F8F8F2!important;
}

// Matching tag
.CodeMirror-matchingtag {
    background-color:#000!important;
}

// Cursor
.CodeMirror .CodeMirror-cursor {
    border-left: 2px solid @cursor !important;
}

// Comments
.cm-comment { color: @comment; }

.CodeMirror-activeline .cm-comment {
    color: @comment-active;
}

// Qualifier
.cm-qualifier {
    color: #64B5F6!important;
}

.CodeMirror-activeline .cm-qualifier {
    color: #448AFF!important;
    text-shadow: 0 0 1px #448AFF;
}

// Keyword
.cm-keyword,
.cm-builtin,
.cm-quote {
    color: #448AFF!important;
}

// Variables
.cm-variable,
.cm-variable-2,
.cm-variable-3,
.cm-bracket {
    color: #29B26A;
}

.CodeMirror-activeline .cm-variable,
.CodeMirror-activeline .cm-variable-2,
.CodeMirror-activeline .cm-variable-3 {
    border-bottom: 1px solid #C0D8D1;
    text-shadow: 0 0 1px #29B26A;
}

.cm-atom { color: @definition; } // Definition
.cm-number { color: #EF5350; } // Number
.cm-def {	color: @definition; } // Definition
span.cm-tag { color: #FF8A65; } // Tag
.cm-attribute { color: #64DD17; } // Attribute
.cm-string { color: #BCAAA4; } // String
.cm-string-2 { color: red; }
.cm-error { color: @error; }
.cm-property { color: #CE93D8; } // Property

.cm-meta {
    color: red;
}
.cm-operator {
    color: #64B5F6;
}



/* Non-editor styling */
.image-view,
.not-editor {
    background-color: @background;
}

.view-pane .image-view {
    color: @background-selected;
}
