/*! Anode theme for Brackets
* by Artem Solovev!
**/



/* COLORS */
@black: #000000;
@black-light: #2D2D2D;
@black-masala: #2D2A25;
@gray: rgba(71, 72, 75, .7);
@gray-light: #B8C4C1;
@white: #ffffff;
@white-smoke: #C0D8D1;
@red: #A72726;
@pink: #F92672;
@green: #29B26A;
@green-light: #00FF75;
@green-superlight: #C3FEF0;
@orange: #FF5722;
@yellow: #FFF9C4;
@blue: #448AFF;



/* EDITOR styling */
@background: #292929;
@background-selected: @gray;
@background-activeline: #1A1A1A;
@gutters: @black-masala;
@comment: @gray-light;
@comment-active: @white;
@keyword: @pink;
@definition: #D4E157;
@number: @green-light;
@tag: @green;
@cursor: @white;
@brackets-active: rgba(255, 255, 255, .2);
@error: @red;



/* STYLES */
// Code editor
.CodeMirror, .CodeMirror-scroll {
    background-color: @background;
    color: #fff;
}

// Selected text
.CodeMirror-selected {
    background: @background-selected;
}

// Line numbers
.CodeMirror-gutters {
    background-color: @gutters;
    border-right: 1px solid @gray;
}
.CodeMirror .CodeMirror-linenumber {
    color: @white-smoke;
}

// Active line
.CodeMirror-activeline-background,
.CodeMirror-activeline .CodeMirror-gutter-elt {
    background: @background-activeline;
}

// Matching bracket
.CodeMirror-matchingbracket {
    background: 0 0!important;
    color: #1dff00!important;
    text-shadow: 0 0 10px #1dff00;
    font-weight: 700;
}

// No matching bracket
.CodeMirror-nonmatchingbracket {
    background: #F92672!important;
    color: #F8F8F2!important;
}

// Matching tag
.CodeMirror-matchingtag {
    background-color:#000!important;
}

// Cursor
.CodeMirror .CodeMirror-cursor {
    border-left: 2px solid @cursor !important;
}

// Comments
.cm-comment { color: @comment; }

.CodeMirror-activeline .cm-comment {
    color: @comment-active;
}

// Qualifier
.cm-qualifier {
    color: #64B5F6!important;
}

.CodeMirror-activeline .cm-qualifier {
    color: #448AFF!important;
    text-shadow: 0 0 1px #448AFF;
}

// Keyword
.cm-keyword,
.cm-builtin,
.cm-quote {
    color: #448AFF!important;
}

// Variables
.cm-variable,
.cm-variable-2,
.cm-variable-3,
.cm-bracket {
    color: @green;
}

.CodeMirror-activeline .cm-variable,
.CodeMirror-activeline .cm-variable-2,
.CodeMirror-activeline .cm-variable-3 {
    border-bottom: 1px solid @white-smoke;
    text-shadow: 0 0 1px @green;
}

.cm-atom { color: @definition; } // Definition
.cm-number { color: #EF5350; } // Number
.cm-def {	color: @definition; } // Definition
span.cm-tag { color: #FF8A65; } // Tag
.cm-attribute { color: #64DD17; } // Attribute
.cm-string { color: #BCAAA4; } // String
.cm-string-2 { color: red; }
.cm-error { color: @error; }
.cm-property { color: #CE93D8; } // Property

.cm-meta {
    color: red;
}
.cm-operator {
    color: #64B5F6;
}



/* Non-editor styling */
.image-view,
.not-editor {
    background-color: @background;
}

.view-pane .image-view {
    color: @background-selected;
}
